h1 {
    text-align: center;
    padding: 30px 30px 20px;
}

h3, h4 {
    text-align: center;
    padding-bottom: 10px;
}

p {
    text-align: center;
    padding: 10px;
}

.form-group {
    width: 25%;
}

#buttons {
    margin: 20px auto auto;
}

.login {
    margin-top: 40vh;
}

.logout {
    padding-left: 10px;
}